/* Configuración Inicial */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#translateButton {
    width: 50px;
    height: auto;
    cursor: pointer;
    position: relative;
    top: -16px;
    /* Ajusta este valor según sea necesario */
}


/* Estilo del Header */
header {
    position: sticky;
    top: 0;
    background-color: #000000; /*COLOR FIJO*/
    color: white; /*COLOR FIJO*/
    padding: 10px 0;
    z-index: 1000;
    height: 70px;
}

/* Contenedor General */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Botón del Menú */
.menu-toggle {
    display: none;
    background-color: #000;/*COLOR FIJO*/
    color: white; /*COLOR FIJO*/
    border: none;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
}

.menu-toggle:focus {
    outline: none;
}

/* Navegación */
nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white; /*COLOR FIJO*/
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #ffffff; /*COLOR FIJO*/
    color: rgb(0, 0, 0); /*COLOR FIJO*/
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
}


:root {
    --primary-color: black;
    --secondary-color: white;
    --third-color:#ccc;
}

#icon {
    width: auto;
    height: 43px;
    cursor: pointer;
    position: relative;
    top: -12px;
}



/* Responsivo */
@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .nav.active {
        display: block;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        height: auto;
        background-color: #000; /*COLOR FIJO*/
    }

    .nav ul {
        display: block;
        text-align: center;
    }

    .nav ul li {
        margin: 10px 0;
    }
}



/* Sección Hero */
.hero {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    border: 2px solid var(--secondary-color);
    /* Línea alrededor del área de texto */
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.hero-text {
    max-width: 45%;
    text-align: center;
    margin-right: 30px;
    border: 1px solid var(--secondary-color);
    /* Línea alrededor del área de texto */
    padding: 20px;
    background-color: var();
}

/* Estilo del Carrusel */
.carousel {
    flex: 1 1 50%;
    /* Ocupa la mitad del ancho disponible */
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
}

.carousel-imagenes {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: auto;
}

.carousel-imagenes img {
    width: 100%;
    height: auto;
}

button.prev,
button.next {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /*COLOR FIJO*/
    color: white; /*COLOR FIJO*/
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

/* Estilo de las Secciones */
section {
    background-color: var(--primary-color);
    padding: 50px 20px;
    text-align: center;
}

h2{
    color: var(--secondary-color);
}

.portafolio-section {
    color: var(--secondary-color);
    background-image: url(https://images.adsttc.com/media/images/5d44/14fa/284d/d1fd/3a00/003d/large_jpg/eiffel-tower-in-paris-151-medium.jpg?1564742900);
    padding: 50px 20px;
    border: 2px solid var(--secondary-color)
    /* Línea alrededor del área de texto */
}

p{
    color: var(--secondary-color);
}


.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.gallery {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgb(107, 118, 125), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*COLOR FIJO*/
    width: 250px;
    transition: transform 0.3s;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.gallery:hover {
    border: 1px solid var(--secondary-color);
    transform: rotateX(10deg) translateY(-10px);
}

div.text-gallery {
    text-align: center;
    padding: 10px;
    font-size: 1em;
    border: 1px solid var(--secondary-color);
    /* Línea alrededor del área de texto */
}


/* Gallery Modal Styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /*COLOR FIJO*/
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /*COLOR FIJO*/
    /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 20%;
    max-width: 700px;
}

.modal-content,
.modal img {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white; /*COLOR FIJO*/
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8); /*COLOR FIJO*/
}


/* Línea Divisora */
.divider {
    border: none;
    border-top: 1px solid #ffffff; /*COLOR FIJO*/
    margin: 40px 0;
}

/* Estilo para la Línea Divisora Decorativa */
.decorative-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.decorative-divider hr.divider {
    border: none;
    border-top: 3px solid #000; /*COLOR FIJO*/
    width: 50%;
    position: relative;
}

.decorative-divider hr.divider:before {
    content: "\2766";
    /* Símbolo de corazón */
    font-size: 24px;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff; /*COLOR FIJO*/
    padding: 0 10px;
    color: #000; /*COLOR FIJO*/
}

/* Sección Sobre Nosotros */
#sobre-nosotros {
    padding: 50px 20px;
    background-color: var(--primary-color);
    text-align: center;
    border: 2px solid var(--secondary-color);
}

.sobre-nosotros-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    

}

.sobre-nosotros-text {

    color: var(--secondary-color);
    padding: 50px 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--secondary-color);
    margin: 35px;
}

.sobre-nosotros-video iframe {
    max-width: 100%;
    height: auto;
}

/* Responsivo */
@media (min-width: 768px) {
    .sobre-nosotros-content {
        flex-direction: column;
    }
}


/* Sección Contacto */
.contact {
    background-color: var(--primary-color);
    padding: 50px 20px;
    text-align: center;
    border: 2px solid var(--secondary-color);
    /* Línea alrededor del área de texto */
}

.contact h2 {
    color: var(--secondary-color);
    font-size: 28px;
    margin-bottom: 20px;
}

/* Sección Formulario */
form {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    margin-bottom: 15px;
    width: 80%;
    max-width: 500px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--third-color);
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #555;/*COLOR FIJO*/
}

/* Sección Footer */
footer {
    background-color: #000000; /*COLOR FIJO*/
    color: white; /*COLOR FIJO*/
    text-align: center;
    padding: 20px 0;
    border: 2px solid var(--secondary-color);
}

footer p {
    margin: 5px 0;
}

footer a {
    color: white; /*COLOR FIJO*/
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilos para el Botón de WhatsApp */
#menu_redes {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.309); /*COLOR FIJO*/
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);/*COLOR FIJO*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu_redes img {
    width: 40px;
    height: 40px;
}

/* Estilo Responsivo */
@media (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu-toggle {
        display: block;
    }

    .nav.open {
        display: flex;
    }

    .hero-content {
        flex-direction: column;
        /* Alinea los elementos en columna en pantallas pequeñas */
    }

    .carousel {
        width: 100%;
        /* Ajuste la anchura del carrusel al 100% del contenedor */
        margin: 0;
        /* Eliminar margen */
    }

    .hero-text {
        margin-right: 0;
        /* Eliminar margen derecho */
        margin-bottom: auto;
        padding: 10px;
        margin: 35px;
    }

    .gallery {
        width: calc(50% - 20px);
    }

    @media (max-width: 768px) {
        /* Otros estilos responsive existentes */

        nav ul li {
            margin: 20px 0;
        }

        #translateButton {
            margin-top: 10px;
            margin-right: 20px;
            margin-right: 10px;
        }

        #icon {
            top: -20px;
        }

    }

}

@media (max-width: 480px) {
    .gallery {
        width: calc(100% - 20px);
    }

    .carousel {
        width: 100%;
        /* Ajuste la anchura del carrusel al 100% del contenedor */
    }
}