/* Configuración Inicial */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del Header */
header {
    position: sticky;
    top: 0;
    background-color: #000000;
    color: white;
    padding: 10px 0;
    z-index: 1000; /* Asegura que el header se mantenga arriba */
    height: 70px;
}

/* Contenedor General */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Rotador de Imágenes */
.carousel {
    position: relative;
    max-width: 50%; /* Cambiar el ancho para ajustar al lado derecho */
    overflow: hidden;
    border: 2px solid #ddd;
    margin: auto; /* Centrado y margen superior/inferior */
}

.carousel-imagenes {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease;
    object-fit: cover;
}

.carousel-imagenes img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Botones de Navegación del Rotador */
button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Navegación */
nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    color: white;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
}

/* Sección Hero */
.hero {
    color: #000;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.hero-text {
    max-width: 45%; /* Cambiar el ancho para ajustar al lado izquierdo */
    text-align: center; /* Centrando el texto */
    margin-right: auto; /* Empujar hacia la izquierda */
    margin-right: 30px; /* Agregar margen derecho para espacio adicional */
}

.hero-text h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    text-align: justify;
}

/* Galería de Imágenes */
h2 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
}

.portafolio-section {
    background-image: url(https://images.adsttc.com/media/images/5d44/14fa/284d/d1fd/3a00/003d/large_jpg/eiffel-tower-in-paris-151-medium.jpg?1564742900);
    padding: 50px 20px;
}

.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.gallery {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgb(107, 118, 125), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 250px;
    transition: transform 0.3s;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.gallery:hover {
    border: 1px solid rgb(53, 53, 53);
    transform: rotateX(10deg) translateY(-10px);
}

div.text-gallery {
    text-align: center;
    padding: 10px;
    font-size: 1em;
}

/* Línea Divisora */
.divider {
    border: none;
    border-top: 1px solid #ffffff;
    margin: 40px 0;
}

/* Estilo para la Línea Divisora Decorativa */
.decorative-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.decorative-divider hr.divider {
    border: none;
    border-top: 3px solid #000;
    width: 50%;
    position: relative;
}

.decorative-divider hr.divider:before {
    content: "\2766"; /* Símbolo de corazón */
    font-size: 24px;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0 10px;
    color: #000;
}

/* Sección About */
.about-section {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9ca3af;
}

.about-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
}

.about-video {
    flex: 1;
    padding-right: 20px;
    max-width: 100%; /* Asegura que el video no se salga del contenedor */
    box-sizing: border-box;
}

.about-text {
    flex: 1;
    text-align: left;
}

.about-text h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 1.2em;
    text-align: justify;
}

/* Responsivo */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        align-items: center; /* Centra el contenido */
    }

    .about-video {
        padding-right: 0;
        margin-bottom: 20px;
    }
}

/* Sección Contacto */
.contact {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
}

.contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* Sección Formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    margin-bottom: 15px;
    width: 80%;
    max-width: 500px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #555;
}

/* Sección Footer */
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilos para el Botón de WhatsApp */
#menu_redes {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.309);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu_redes img {
    width: 40px;
    height: 40px;
}

/* Responsivo */
@media (max-width: 600px) {
    .nav-left, .nav-right {
        flex-direction: column;
    }

    .nav-left span, .nav-right span {
        margin: 10px 0;
    }

    .gallery-item {
        flex: 1 1 100%;
    }

    form div {
        width: 100%;
    }

    .hero-content {
        flex-direction: column;
    }

    .hero-text {
        max-width: 100%;
        text-align: center;
    }

    .hero-image {
        margin-top: 20px;
    }

    .hero-text h1 {
        font-size: 24px;
    }

    .hero-text p {
        font-size: 16px;
    }

    .about-video {
        max-width: 100%;
        box-sizing: border-box;
    }
}

.input {
    border: none;
    background: none;
    border-bottom: 3px solid rgb(0, 0, 0);
}
